@model Lab6.Models.Pacients

@{
    ViewBag.Title = "DeletePacients";
}

<h3>Видалити цей запис?</h3>
<div>
    <h4>Pacients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" />
        </div>
    }
</div>
<div>
    @Html.ActionLink("Повернутись до списку", "Index")
</div>